div.DCtopA{
   background-color:#333;
   border:0px solid #f00;
   width:100%;
   }
div.DCtopB{
   border:0px solid #f00;
   display:inline-table;
   width:1000px;
   position:relative;
   }
div.DCtopC{
   border:0px solid #f00;
   display:table-cell;
   width:200px;
   }
div.DCtopD{
   border:0px solid #f00;
   display:inline-table;
   }

div.DCtopE{
   border:0px solid #f00;
   background-color:#222;
   color:#888;
   display:table-cell;
   position:relative;
   top:0px;
   bottom:0px;
   right:0px;
   font-weight:bold;
   width:300px;
   vertical-align:text-bottom;
   }
span.SCtopA{
   border:0px solid #f00;
   display:inline-block;
   }
