b.BCbafA{
   color:#686;
   }
div.DIbafA{
   display:none;
   }

b.BCexpA{
   font-size:30px;
   }
b.BCfocA{
   color:#686;
   }
del.DCxpdA{
   color:#866;
   }
div.DCxprA{
   background-color:#222;
   display:inline-table;
   font-size:16px;
   }
div.DCfocA{
   display:inline-table;
   width:1000px;
   }
table{
   text-align:left;
   }
div.DCexpA{
   background-color:#fff;
   display:inline-block;
   text-align:center;
   }
div.DCexpBa{/*pod*/
   background-color:#1a1a1a;
   display:inline;
   position:absolute;
   width:700px;
   z-index:1;
   }
div.DCexpBb{/*nad*/
   background-color:#467;
   display:inline;
   position:absolute;
   z-index:2;
   }
div.DCexpBc{
   color:#aaa;
   display:inline-block;
   position:relative;
   text-align:center;
   width:700px;
   z-index:3;
   }
div.DCexpC{
   background-color:#fff;
   display:inline-block;
   text-align:center;
   }
